.sebm-google-map-container {
  height: 160px;
}
.inner-sec-custm {
    padding: 0 15px;
}
.payment_custm_check_box{
    margin: 15px 0;
  }


.custm_pay_btn {
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}